/*
.pageTitle {
	color: #fff;
	display: inline-block;
}
*/

/*
#content {
	position: relative;
	padding: 30px 0 0px 0;
}
*/

.features-item {
	/*	padding: 0 0 70px 0;*/
}

.features-item .features {
	margin-bottom: 34px;
}

/*
.features-item .features .icon {
	float: left;
	background: #CE4A4A;
	height: 66px;
	width: 66px;
}
*/

.features-item .features .icon {
	float: left;
	color: #FFFFFF;
	font-size: 28px;
	width: 66px;
	height: 66px;
/*	margin-top: 10px;*/
	text-align: center;
	background: #CE4A4A;
	
}








.features-item .features .icon i {
	z-index: 99;
	font-size: 32px;
	margin: 17px 18px;
	color: #FFFFFF;
	display: inherit;
}

.features-item .features-content {
	margin-left: 80px;
	padding-right: 68px;
}

.features-item .features-content h3 {
	padding-bottom: 8px;
	text-transform: uppercase;
	margin: 0;
	font-size: 18px;
}







