/*
h1,h2, h3, h4, h5, h6 {
	font-family:'Open Sans', Arial, sans-serif;
	font-weight: normal;
	line-height:1.1em;
	color:#333;
	margin-bottom: 20px;
}
*/

/*
.container {
	padding:0 20px 0 20px;
	position:relative;
}
*/

/*
.row,.row-fluid {
	margin-bottom:30px;
}
*/

/*
#content {
	position:relative;

	padding: 30px 0 0px 0;
}
*/

#content img {
	max-width:100%;
	height:auto;
}

.info-blocks {
margin-bottom: 15px;
}
.info-blocks i.icon-info-blocks {
	float: left;
	color: #FFFFFF;
	font-size: 28px;
	width: 66px;
	height: 66px;
	margin-top: 10px;
	text-align: center;
	background: #CE4A4A;
	padding: 18px;
}





.info-blocks .info-blocks-in {
padding: 0 10px;
overflow: hidden;
}
.info-blocks .info-blocks-in h3 {
font-size: 20px;
line-height: 28px;
margin:0px;
}
.info-blocks .info-blocks-in p {
font-size: 14px;
}